<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>领导报表</title>
<link rel="stylesheet" type="text/css" href="../css/base.css" th:href="@{/static/css/base.css}"/>
<link rel="stylesheet" type="text/css" href="../css/leader_forms.css" th:href="@{/static/css/leader_forms.css}"/>
<script type="text/javascript" src="../js/jquery-1.8.js" th:src="@{/static/js/jquery-1.8.js}"></script>
<script type="text/javascript" src="../static/js/common.js" th:src="@{/static/js/common.js}"></script>
<script type="text/javascript" src="date/WdatePicker.js" th:src="@{/static/js/date/WdatePicker.js}"></script>
<script type="text/javascript" src="../js/orderOut.js" th:src="@{/static/js/leader_form.js}"></script>
<script src="../static/js/jquery.timers-1.2.js" th:src="@{/static/js/jquery.timers-1.2.js}"></script>
<script src="../static/js/jq-overlay.js" th:src="@{/static/js/jq-overlay.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery.json-2.4.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery.form.min.js}"></script>
</head>

<body>
<div class="w">
	<div class="sec-box">
		<div class="cont-sec" id="timeConditionArea">
			<h3 class="sec-title">查询条件</h3>
			<table class="oprt-table" cellspacing="0" cellpadding="0" border="0">
				<tr>
					<th>查询年份：</th>
					<td>
						<input id="year" type="text" class="ipt-style date" onfocus="WdatePicker({dateFmt:'yyyy'})" readonly="readonly" value="2014"/>
					</td>
					<td id="isIndexLeaderFormTag" style="display:none;" th:text="${indexFlag}"></td>
				</tr>
				<tr>
					<th>&nbsp;</th>
					<td>
						<a href="javascript:void(0);" class="oprt-btn" onclick="checkYear()">查&nbsp;&nbsp;&nbsp;&nbsp;询</a>
					</td>
				</tr>
			</table>
		</div>
		<div class="cont-sec">
			<h3 class="sec-title" id="resultAreaInfo">查询结果</h3>
			<div class="list-box" id="pagesList">
				
			</div>
		</div>
	</div>
	<!-- 成功提示层 begin -->
<div id="succ_tips_layer" class="tips-layer">
    <div class="tips-layer-t">
        <label>信息提示</label>
    </div>
    <div class="tips-layer-cont">
        <p class="tips-sec"><span class="success-icon"></span><label id="succ_tips_lable"></label></p>
        <div class="tips-layer-btns">
            <a href="javascript:void(0)" class="oprt-btn tips-layer-sure">确&nbsp;&nbsp;定</a>
        </div>
    </div>
</div>
<!-- 成功提示层 end -->
</div>
</body>
</html>
