<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>客户信息维护</title>
<link rel="stylesheet" type="text/css" href="../css/base.css" th:href="@{/static/css/base.css}"/>
<link rel="stylesheet" type="text/css" href="../css/print_paper_apply.css" th:href="@{/static/css/print_paper_apply.css}"/>
<script type="text/javascript" src="../js/jquery.min.js" th:src="@{/static/js/jquery.min.js}"></script>
<script type="text/javascript" src="../js/print_paper_apply.js" th:src="@{/static/js/printDetail.js}"></script>
<script src="../static/js/jquery-1.8.js"  th:src="@{/static/js/jquery-1.8.js}"></script>
<script type="text/javascript" src="../js/common.js" th:src="@{/static/js/common.js}"></script>
<script src="../static/js/jquery.form.min.js" th:src="@{/static/js/jquery.form.min.js}"></script>
<script src="../static/js/jquery.timers-1.2.js" th:src="@{/static/js/jquery.timers-1.2.js}"></script>
<script src="../static/js/jq-overlay.js" th:src="@{/static/js/jq-overlay.js}"></script>
<script th:src="@{/static/js/jquery.json-2.4.js}"></script>
</head>

<body onload="checkInfo()">
<div class="w">
	<div class="sec-box">
		<div class="cont-sec">
			<h3 class="sec-title" id="type1" th:text="${results[type]}">2014年中国书法专业版第03期</h3>
			<table class="oprt-table" cellspacing="0" cellpadding="0" border="0">
				<tr>
					<th>北京市发行报刊局：</th>
					<td id="paper" th:text="${results[paper]}"></td>
				</tr>
				<tr>
					<th>国际图书公司：</th>
					<td id="book" th:text="${results[book]}"></td>
				</tr>
				<tr>
					<th><a class="merchant" href="javascript:void(0);" onclick="merchant(0)"><i class="pen"></i>批发商：</a></th>
					<td id="wholesale" th:text="${results[agent]}">0</td>
				</tr>			
				<tr>
					<th>5月大客户数量：</th>
					<td id="cust" th:text="${results[customer]}">0</td>
				</tr>			
				<tr>
					<th>4月零售数量：</th>
					<td id="sale" th:text="${results[retail]}">0</td>
				</tr>
				<tr>
					<th>4月赠刊样刊：</th>
					<td id="give" th:text="${results[give]}">0</td>
				</tr>
				<tr>
					<th>预留：</th>
					<td id="save" th:text="${results[list]}">0</td>
				</tr>
				<tr>
					<th>总计：</th>
					<td id="total0" th:text="${results[total]}">0</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<!-- 修改批发商begin -->
<div id="merchant-edit" class="layer merchant-edit" style="display:none;">
	<div class="layer-t">
		<label>查询批发商信息</label>
		<span class="layer-close">×</span>
	</div>
	<div class="layer-cont">
		<div class="layer-tb-w">
			<table class="layer-tb" cellspacing="0" cellpadding="0" border="0" id="tal1">
				<tr th:each="cust,rowStat : ${results[cust]}">
				<th th:text="${cust[CUSTOMER_NAME]}+'：'"></th>
				<td th:text="${cust[COUNT]}"></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<!-- 修改批发商end -->
</body>
</html>
