<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>订阅汇款单绑定</title>
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/base.css}" href="../css/order_input.css" /> 
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/order_binding.css}" href="../css/order_input.css" /> 
  
  <script type="text/javascript" th:src="@{/static/js/jquery-1.8.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/orderbind.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/jquery.form.min.js}"></script> 
  <script type="text/javascript" th:src="@{/static/js/jquery.json-2.4.js}"></script>
  <script  th:src="@{/static/js/date/WdatePicker.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/common.js}" src="../js/jquery.min.js"></script> 
</head>

<body>
<div class="w">
	<div class="sec-box">
        <from id="payMentTable" method="post" th:action="@{/searchPaymentPage}" th:include="pages/orderbinding/paymentInfoFragment">
        </from>
        <from id="orderInfoTable" method="post" th:action="@{/searchOrderTobindPage}" th:include="pages/orderbinding/orderInfoFragment">
        </from >

		<div class="btns-box mrg-t-30">
			<a href="javascript:void(0);" class="blue-bdr-btn mrg-r-15">返回</a>
			<a href="javascript:void(0);" class="blue-btn" onclick="bindPayment();">确定</a>
		</div>
	</div>
</div>
<!-- 成功提示层 begin -->
<div id="succ_tips_layer" class="tips-layer">
    <div class="tips-layer-t">
        <label>信息提示</label>
    </div>
    <div class="tips-layer-cont">
        <p class="tips-sec"><span class="success-icon"></span><label id="succ_tips_lable">成功成功成功成功成功成功成功成功成功成功</label></p>
        <div class="tips-layer-btns">
            <a href="javascript:void(0)" class="oprt-btn tips-layer-sure">确&nbsp;&nbsp;定</a>
        </div>i
    </div>
</div>
<!-- 成功提示层 end -->

<!-- 失败提示层 begin -->
<div id="fail_tips_layer" class="tips-layer">
    <div class="tips-layer-t">
        <label>信息提示</label>
    </div>
    <div class="tips-layer-cont">
        <p class="tips-sec"><span class="success-icon"></span><label id="fail_tips_lable">成功成功成功成功成功成功成功成功成功成功</label></p>
        <div class="tips-layer-btns">
            <a href="javascript:void(0)" class="oprt-btn tips-layer-sure">确&nbsp;&nbsp;定</a>
        </div>
    </div>
</div>
<!-- 失败提示层 end -->
</body>
</html>
