.sec-box{height:1110px;padding:20px 0;margin:0 35px 0 0;border:1px solid #d3d3d3;background:#eff3f3;overflow-y: auto;}
.sec-title{line-height:35px;margin:0 20px 15px 40px;border-bottom:1px dashed #ccc;font-size:14px;font-weight:bold;}
.list-box{margin:0 15px 15px 40px;padding:15px;background:#fff;}
.list-tb{width:100%;font-size:12px;}
.list-tb thead th{background:#f5f5f5;padding:10px 0;text-align:center;font-weight:bold;}
.list-tb tbody td{padding:15px 0;border-bottom:1px solid #f5f5f5;text-align:center;word-wrap:break-word;word-break:break-all;}
.list-tb tfoot td{background:#f5f5f5;padding:7px 10px;}
.list-tb tfoot td .paging{float:right;}
.detail-btn{margin:0 5px;}
.pass-btn{margin-left:5px;}
/*不通过弹出层begin*/
.no-pass-layer{width:360px;margin-left:0;left:0;}
.no-pass-layer .layer-cont{font-size:12px;}
.layer-line{padding:25px 0 0;overflow:hidden;zoom:1;}
.layer-line dt{float:left;width:80px;line-height:24px;text-align:right;}
.layer-line dd{margin-left:80px;}
.layer-line dd .text-style{width:220px;height:90px;line-height:24px;font-size:12px;}
/*不通过弹出层end*/
/*详情弹出层begin*/
.detail-layer{width:480px;margin-left:-240px;top:150px;}
.layer-tb-w{margin:10px 0 20px;font-size:12px;}
.layer-tb{width:100%;}
.layer-tb th{width:120px;line-height:24px;padding:7px 0;text-align:right;vertical-align:top;font-weight:bold;}
.layer-tb td{padding:5px 0;line-height:24px;}
.layer-tb td .ipt-style,.layer-tb td .sel-box,.hinge,.layer-tb td .ipt-tips,.layer-tb td .remarks{font-size:12px;}
.wholesale{width:280px;}
.wholesale span{display:inline-block;width:130px;vertical-align:middle;}