.sec-title{font-size:20px;font-weight:bold;padding-top:20px;margin:15px 35px 10px 10px;}
.sec-box{height:1035px;padding:20px 0;margin:0 35px 0 0;border:1px solid #d3d3d3;background:#eff3f3;overflow-y: auto;}
.mrg-t-30{margin-top:30px;}
.mrg-r-15{margin-right:15px;}
.result-tips{padding:50px 0;text-align:center;font-size:14px;}