<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />  
   
  <title>财务确认收款</title> 
  <link rel="stylesheet" th:href="@{/static/css/base.css}" type="text/css" /> 
  <link rel="stylesheet" th:href="@{/static/css/financial_verifiy.css}" type="text/css" />
   
  <script src="../static/js/jquery-1.8.js" th:src="@{/static/js/jquery-1.8.js}"></script> 
  <script src="../static/js/jquery.form.min.js" th:src="@{/static/js/jquery.form.min.js}"></script> 
  <script src="../static/js/jquery.json-2.4.js" th:src="@{/static/js/jquery.json-2.4.js}"></script> 
  <script src="../static/js/jquery.timers-1.2.js" th:src="@{/static/js/jquery.timers-1.2.js}"></script> 
  <script src="../static/js/jq-overlay.js" th:src="@{/static/js/jq-overlay.js}"></script> 
  <script src="../static/js/base.js" th:src="@{/static/js/base.js}"></script> 
  <script src="../static/js/common.js" th:src="@{/static/js/common.js}"></script> 
  <script th:src="@{/static/js/date/WdatePicker.js}"></script> 
  <script src="../static/js/financeConfirm.js" th:src="@{/static/js/financeConfirm.js}"></script> 
 </head> 
 <body> 
  <div class="w"> 
   <div class="sec-box"> 
    <div class="cont-sec"> 
     <h3 class="sec-title">查询条件<a id="TOP" name="TOP" >&nbsp;</a></h3> 
     <table class="oprt-table" cellspacing="0" cellpadding="0" border="0"> 
      <tbody>
       <tr> 
        <th>订购编号：</th> 
        <td> <input type="text" id="subscribeId" class="ipt-style w124" /> </td> 
       </tr> 
       <tr> 
        <th>收款状态：</th> 
        <td> <select id="test" class="select-style w145" onchange="selectOrderSta(this);"><option>请选择---</option> <option>待收款</option> <option>已收款</option> </select> </td> 
       
       </tr>
       <!--  
       <tr> 
        <th>联系电话：</th> 
        <td><input id="phone" type="text" class="ipt-style w124" /></td> 
       </tr> 
       --> 
       <tr> 
        <th>联系人：</th> 
        <td><input type="text" id="name" class="ipt-style w124" /></td> 
       </tr> 
       <tr> 
        <th>订单单位：</th> 
        <td><input id="company" type="text" class="ipt-style w300" /></td> 
       </tr> 
       <tr> 
        <th>下单时间：</th> 
        <td> <input id="beginTime" type="text" class="ipt-style date" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'endTime\',{d:-1})}',dateFmt:'yyyy-MM-dd'})" /><span class="hinge">至</span><input id="endTime" type="text" class="ipt-style date" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'beginTime\',{d:0})||\'%y-%M-%d-#{%H+1}\'}',dateFmt:'yyyy-MM-dd'})" /> </td> 
       </tr> 
       <tr> 
        <th>&nbsp;</th> 
        <td> <a href="#RESULT" id="RESULTBUTTON" class="oprt-btn" onclick="selFinance();">查&nbsp;&nbsp;&nbsp;&nbsp;询</a> </td> 
       </tr> 
      </tbody>
     </table> 
    </div> 
    <div class="cont-sec" id="resultArea" style="display:none;"> 
     <h3 class="sec-title">查询结果<a name="RESULT" id="RESULT" >&nbsp;</a></h3>
     <div class="list-box"> 
      <form action="#" th:action="@{/selFinance}" method="post" th:include="pages/finance/financelist" id="financeList"> 
      </form> 
     </div> 
     <div style="padding-left:40px;margin-top:15px;">
        <a href="#TOP" color="blue;">返回顶部</a>
    </div>
    </div>
     
   </div> 
  </div>
  <!-- 不通过弹出层begin -->
<div id="no-pass-layer" class="layer1" style="display:none;">
    <div class="layer-cont1">
        <dl class="layer-line">
            <dt>确认收款备注信息：</dt>
            <dd><textarea class="text-style" id="orderConfirmRemarkInput"></textarea></dd>
        </dl>
        <div class="layer-btns">
            <a href="javascript:void(0);" class="short-btn layer-sure" onclick="addRemarkToOrder();">确定</a>
        </div>
    </div>
</div>
<!-- 不通过弹出层end -->
  <!-- 成功提示层 begin -->
<div id="succ_tips_layer" class="tips-layer">
    <div class="tips-layer-t">
        <label>信息提示</label>
    </div>
    <div class="tips-layer-cont">
        <p class="tips-sec"><span class="success-icon"></span><label id="succ_tips_lable">成功成功成功成功成功成功成功成功成功成功</label></p>
        <div class="tips-layer-btns">
            <a href="javascript:void(0)" class="oprt-btn tips-layer-sure">确&nbsp;&nbsp;定</a>
        </div>
    </div>
</div>
<!-- 成功提示层 end -->

<!-- 失败提示层 begin -->
<div id="fail_tips_layer" class="tips-layer">
    <div class="tips-layer-t">
        <label>信息提示</label>
    </div>
    <div class="tips-layer-cont">
        <p class="tips-sec"><span class="success-icon"></span><label id="fail_tips_lable">成功成功成功成功成功成功成功成功成功成功</label></p>
        <div class="tips-layer-btns">
            <a href="javascript:void(0)" class="oprt-btn tips-layer-sure">确&nbsp;&nbsp;定</a>
        </div>
    </div>
</div>
<!-- 失败提示层 end -->   
 </body>
</html>