				<table class="list-tb" cellspacing="0" cellpadding="0" border="0"
					th:if="${results != null and not #lists.isEmpty(results)}" id="tal">
						<thead>
							<tr class="bg-f5f5f5">
								<th width="12%">订单号</th>
								<th width="10%">订购人</th>
								<th width="10%">联系电话</th>
								<th width="10%">订单金额</th>
								<th width="10%">订单状态</th>
								<th width="12%">下单时间</th>
								<th width="16%">订购信息</th>
								<th width="10%">已开发票(元)</th>
							    <th width="12%">付款时间</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="cust,rowStat : ${results}">
								<td th:text="${cust[SUBSCRIBE_ID]}+'&nbsp;'"></td>
								<td th:text="${cust[CUSTOMER_NAME]}+'&nbsp;'"></td>
								<td th:text="${cust[CUSTOMER_PHONE]}+'&nbsp;'"></td>
								<td th:text="${cust[TOTAL_MONEY]}+'&nbsp;'"></td>
								<td th:text="${cust[SUBSCRIBE_STATE]}+'&nbsp;'"></td>
								<td th:text="${cust[UPDATE_TIME]}+'&nbsp;'"></td>
								<td th:text="${cust[PRODUCT_INFO]}+'&nbsp;'"></td>
								<td th:text="${cust[TOTALMONEY]}+'&nbsp;'"></td>
								<td th:text="${cust[PAY_TIME]}+'&nbsp;'"></td>
							</tr>
						</tbody>
						<tfoot>
							<td colspan="8">
								<div th:include="pages/fragment/ajaxpager::ajaxpager"
                              	th:with="ajaxPageId='pagesList2'" th:remove="tag"></div>
							</td>
						</tfoot>
					</table>
